<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product.model.ProductBean">

	<select id="GetTotalCount" resultType="int">
		select count(*) from product
		<if test="whatColumn == 'name'">
			where name like #{keyword}
		</if>		
		<if test="whatColumn == 'category'">
			where contents like #{keyword}
		</if>	
	</select>

	<select id="GetDataList" resultType="MyProduct" parameterType="hashmap">
		select * from product	
		<if test="whatColumn == 'name'">
			where name like #{keyword}
		</if>		
		<if test="whatColumn == 'category'">
			where category like #{keyword}
		</if>	
		order by num desc
	</select>

	<insert id="InsertData" parameterType="MyProduct">
		insert into product(num, name, category, price, country, company, weight, count, image, contents)
		values( seqprd.nextval, #{name}, #{category,jdbcType=VARCHAR}, #{price}, #{country}, #{company},   
		#{weight}, #{count}, #{image}, #{contents})
	</insert>

	<select id="GetData" resultType="MyProduct">
		select * from product
		where num = #{num}
	</select>
	
	
	<update id="UpdateData" parameterType="MyProduct">
		update product set
		name=#{name}, category=#{category,jdbcType=VARCHAR}, price=#{price}, country=#{country}, company=#{company}, 
		weight=#{weight}, count=#{count}, image=#{image}, contents=#{contents}
		where num=#{num}
	</update>
	
	<delete id="DeleteData" parameterType="MyProduct">
		delete from product
		where num=#{num}
	</delete>
	
	
	<!-- publicproductlist -->
	
	<select id="DisplayVegetable" resultType="MyProduct">
	select * from product where category='vegetable'
	</select>
	
	<select id="DisplayFruit" resultType="MyProduct">
	select * from product where category='fruit'
	</select>

	<select id="DisplayTopping" resultType="MyProduct">
	select * from product where category='topping'
	</select>	
	
	<select id="DisplayDressing" resultType="MyProduct">
	select * from product where category='dressing'
	</select>
	
	<select id="DisplaySideMenu2" resultType="MyProduct">
	select * from product where category='sidemenu'
	</select>
	
	<select id="DisplayFinishedgoods" resultType="MyProduct">
	select * from product where category='finishedgoods'
	</select>
	
	<select id="makePnameList" resultType="String">
	select name from product
	</select>
	

</mapper>





